{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div> 
{% endblock %}

{% block content %}
    <div class="product-overlay"></div>
    <div class="container cart-heading text-center">
        <div class="row">
            <div class="col">
                <h1>Cart</h1>
            </div>
        </div>
        <div class="row cart-items">
            <div class="col">
                {% if cart_entries %}
                    <div class="cart-items-wrapper">
                        <table class="table table-m">
                            <thead>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                                <th scope="col"></th>
                            </thead>
                            {% for entry in cart_entries %}
                                <tr>
                                    <td>
                                        <img class="cart-product-image" src="{{ entry.product.image.url }}" alt="cart-product-imge">
                                        <p class="bold">Name: {{ entry.product.name }}</p>
                                        <p>SKU: {{ entry.product.sku }}</p>
                                    </td>
                                    <td>
                                        <p class="bold">€ {{ entry.product.price }}</p>
                                    </td>
                                    <td>
                                        <p class="bold"> {{ entry.qty }}</p>
                                    </td>
                                    <td>
                                        <p class="bold">€ {{ entry.entry_total_price }}</p>
                                    </td>
                                    <td><i class="fa-solid fa-trash-can"></i></td>
                                </tr>
                            {% endfor %}                            
                        </table>
                        <div class="row">
                            <div class="col">        
                                <a href="">
                                    <button class="checkout-button bold">Proceed to checkout <i class="fa-solid fa-credit-card"></i></button>
                                </a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>You have no products added to bag please add products!<i class="fa-solid fa-boxes-packing"></i></p>
                    <a href="{% url 'products' %}">
                        <button class="see-products-button">See produts</button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}