{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div> 
{% endblock %}

{% block content %}
    <div class="product-overlay"></div>
    <div class="container cart-heading text-center">
        <div class="row">
            <div class="col">
                <h1>Cart</h1>
            </div>
        </div>
        <div class="row cart-items">
            <div class="col">
                {% if cart_entries %}
                    <div class="cart-items-wrapper">
                        <table class="table table-m">
                            <thead>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </thead>
                            {% for entry in cart_entries %}
                                <tr>
                                    <td>
                                        <a href="{% url 'product_detail' entry.product.id %}">
                                            <img class="cart-product-image" src="{{ entry.product.image.url }}" alt="cart-product-imge">
                                            <p class="bold">Name: {{ entry.product.name }}</p>
                                            <p>SKU: {{ entry.product.sku }}</p>
                                            <p class="bold">Size: {% if entry.product.has_sizes %}{{ entry.size|upper }}{% else %} OneSize{% endif %}</p>
                                        </a>
                                    </td>
                                    <td>
                                        <p class="bold">€ {{ entry.product.price }}</p>
                                    </td>
                                    <td>
                                        <form class="update-qty-cart-form" method="POST">
                                            {% csrf_token %}
                                            <div class="form-buttons-wrapper">                            
                                                <button data-item-id="{{ entry.product.id }}" id="decrement-qty_{{ entry.product.id }}" class="decrement-button-cart">-</button>
                                                <input class="quantity-shower-cart" id="quantity-shower-cart_{{ entry.product.id }}" data-item-id="{{ entry.product.id }}" 
                                                type="number" name="quantity" value="{{ entry.qty }}" max="999">
                                                <button data-item-id="{{ entry.product.id }}" id="increment-qty_{{ entry.product.id }}" class="increment-button-cart">+</button>
                                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                            </div>
                                            {% if entry.product.has_sizes %}
                                                <input type="hidden" name="product_size" value="{{ entry.size }}">
                                            {% endif %}
                                        </form>
                                        <a class="update-entry" href="">Update <i class="fa-solid fa-cart-plus update-entry-icon"></i></a>
                                        <a class="remove-entry" id="remove_entry-{{ entry.entry_id }}" data-size="{{ entry.size }}" href="">Remove <i class="fa-solid fa-trash-can remove-entry-icon"></i></a>
                                    </td>
                                    <td>
                                        <p class="bold">€ {{ entry.entry_total_price }}</p>
                                    </td>
                                </tr>
                            {% endfor %}                            
                        </table>
                        <div class="row">
                            <div class="col">        
                                <a href="{% url 'checkout' %}">
                                    <button class="checkout-button bold">Proceed to checkout <i class="fa-solid fa-credit-card"></i></button>
                                </a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p>You have no products added to bag please add products!<i class="fa-solid fa-boxes-packing"></i></p>
                    <a href="{% url 'products' %}">
                        <button class="see-products-button">See produts</button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}