{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div> 
{% endblock %}

{% block content %}
    <div class="product-overlay"></div>
    <div class="container">
        <div class="row checkout-info-text">
          <div class="col-12">
            <h2 class="text-center bold ">Please fill out the form to submit your order</h2>
          </div>
        </div>
        <h2 class="product-heading-checkout bold">Products:</h2>
        <div class="cart-items-wrapper">
          <table class="table table-m">
              <thead>
                  <th scope="col">Product</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total</th>
              </thead>
              {% for entry in cart_entries %}
                  <tr>
                    <td>
                      <a href="{% url 'product_detail' entry.product.id %}">
                          {% if entry.product.image %}
                              <img class="cart-product-image" src="{{ entry.product.image.url }}" alt="cart-product-imge">
                          {% else %}
                              <img src="{{ MEDIA_URL}}noimage.png" class="card-img-top" alt="{{ product.name }}">
                          {% endif %}
                      </a>
                      <p class="bold">Name: {{ entry.product.name }}</p>
                          <p>SKU: {{ entry.product.sku }}</p>
                          <p class="bold">Size: {% if entry.product.has_sizes %}{{ entry.size|upper }}{% else %} OneSize{% endif %}</p>
                  </td>
                      <td>
                          <p class="bold">€ {{ entry.product.price }}</p>
                      </td>
                      <td>
                            <p class="bold">{{ entry.qty }}</p>
                            {% if entry.product.has_sizes %}
                                <input type="hidden" name="product_size" value="{{ entry.size }}">
                            {% endif %}
                        </td>
                      <td>
                          <p class="bold">€ {{ entry.entry_total_price }}</p>
                      </td>
                  </tr>
              {% endfor %}                            
          </table>
          <div class="row">
            <div class="col text-right">
                <h3 class="bold">shipping cost: €{{ shipping |floatformat:2 }}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col text-right">
                <h2 class="bold total-price-checkout">total price: €{{ total_price | floatformat:2 }}</h2>
            </div>
          </div>
      </div>
        <form method="post" action="{% url 'checkout' %}" id="payment-form" class="checkout-form">
            {% csrf_token %}
            {% crispy order_form %}
            {% if user.is_authenticated %}
            <label for="id-save-address" class="register-login-checkout bold">Save address to profile?</label>
            <i class="fa-regular fa-floppy-disk login-register-checkout-save-i"></i>
            <input type="checkbox" id="id-save-address" name="save-address" class="save-address-checkbox" checked>
            {% else %}
              <label for="id-save-address" class="register-login-checkout bold">To save address register or login: </label>
              <button href="{% url 'account_signup' %}">Register<i class="fa-solid fa-right-to-bracket login-register-checkout-i"></i></button>
              <button href="{% url 'account_login' %}">Login<i class="fa-solid fa-user login-register-checkout-i"></i></button>
            {% endif %}
            <div class="payment-wrapper">
              <p>Please fill in card details to make order</p>
              <div id="card-element"></div>
              <div id="card-errors"></div>
              <input type="hidden" value="{{ client_secret }}" name="client_secret">
          </div>
        </form>
      </div>
{% endblock %}

{% block postload_js %}
  {{ block.super }}
  {{ stripe_public_key|json_script:"id_stripe_public_key" }}
  {{ stripe_public_key|json_script:"id_client_secret" }}
  <!--<script src="{% static 'checkout/js/stripe.js' %}"></script> refuses to load static files in checkout so put it here meanwhile-->
  <script>
        var stripePublicKey = $('#id_stripe_public_key').text().slice(1, -1);
        var clientSecret = $('#id_client_secret').text().slice(1, -1);
        var stripe = Stripe(stripePublicKey);
        var elements = stripe.elements();
        var style = {
            base: {
                color: '#0d67b4',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                    color: '#0d67b4'
                }
            },
            invalid: {
                color: '#0d67b4',
                iconColor: '#dc3545'
            }
        };
        var card = elements.create('card', {style: style});
        card.mount('#card-element');
        // Handle realtime validation errors on the card element
        card.addEventListener('change', function (event) {
          var errorDiv = document.getElementById('card-errors');
          if (event.error) {
              var html = `
                  <span class="icon" role="alert">
                      <i class="fas fa-times"></i>
                  </span>
                  <span>${event.error.message}</span>
              `;
              $(errorDiv).html(html);
          } else {
              errorDiv.textContent = '';
          }
      });

      // Handle form submit
      var form = document.getElementById('payment-form');

      form.addEventListener('submit', function(ev) {
          ev.preventDefault();
          card.update({ 'disabled': true});
          $('#submit-button').attr('disabled', true);
          $('#payment-form').fadeToggle(100);
          $('#loading-overlay').fadeToggle(100);

          var saveInfo = Boolean($('#id-save-info').attr('checked'));
          // From using {% csrf_token %} in the form
          var csrfToken = $('input[name="csrfmiddlewaretoken"]').val();
          var postData = {
              'csrfmiddlewaretoken': csrfToken,
              'client_secret': clientSecret,
              'save_info': saveInfo,
          };
          var url = '/checkout/cache_checkout_data/';

          $.post(url, postData).done(function () {
              stripe.confirmCardPayment(clientSecret, {
                  payment_method: {
                      card: card,
                      billing_details: {
                          name: $.trim(form.first_name.value + " " + form.last_name.value),
                          phone: $.trim(form.phone.value),
                          email: $.trim(form.email.value),
                          address:{
                              line1: $.trim(form.street_address.value),
                              line2: $.trim(form.street_address.value),
                              city: $.trim(form.city.value),
                              country: $.trim(form.country.value),
                              state: $.trim(form.county.value),
                          }
                      }
                  },
                  shipping: {
                      name: $.trim(form.first_name.value + " " + form.last_name.value),
                      phone: $.trim(form.phone.value),
                      address: {
                          line1: $.trim(form.street_address.value),
                          line2: $.trim(form.street_address.value),
                          city: $.trim(form.city.value),
                          country: $.trim(form.country.value),
                          postal_code: $.trim(form.postcode.value),
                          state: $.trim(form.city.value),
                      }
                  },
              }).then(function(result) {
                  if (result.error) {
                      var errorDiv = document.getElementById('card-errors');
                      var html = `
                          <span class="icon" role="alert">
                          <i class="fas fa-times"></i>
                          </span>
                          <span>${result.error.message}</span>`;
                      $(errorDiv).html(html);
                      $('#payment-form').fadeToggle(100);
                      $('#loading-overlay').fadeToggle(100);
                      card.update({ 'disabled': false});
                      $('#submit-button').attr('disabled', false);
                  } else {
                      if (result.paymentIntent.status === 'succeeded') {
                          form.submit();
                      }
                  }
              });
          }).fail(function () {
              // just reload the page, the error will be in django messages
              location.reload();
          })
    });
  </script>
{% endblock %}
