@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital@1&display=swap');

body {
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: #0d67b4;
    background: url('/media/homepage-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;  
}

a {
    text-decoration: none;
    color: #0d67b4;
}
.bold
{
    font-weight: bold;
}

button {
    background-color: #0d67b4;
    color:#FFFFFF
  }

button:hover {
    border-radius: 12px;
    color: #0d67b4;
    background-color: #FFFFFF;
  }
  
  .shopw-now-button {
    font-size: 1.8rem;
    padding: 30px 60px; 
    text-align: center; 
    display: block;
    margin: 0 auto; 
    border-radius: 13px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
}

/* Navbar */
.nav-item{
    padding-right: 15px;
}

.navbar .navbar-brand .logo-image {
    width: 80px;
  }

.nav-link {
    color:#0d67b4;
}

/* products page */
.product-overlay {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #FFFFFF;
    z-index: -1;
    position: fixed;
}

.card {
    color:#0d67b4;
}

.card-price .price{
    font-size: 1.8rem;
}
.sorting-wrapper {
    float: right;
    padding-right: 15px;
}

/* footer */
.navbar-brand .logo-image{
    max-width: 80px;
}

.site-footer {
    margin-top: 400px;
    border-top: 2px solid #0d67b4;
    border-bottom: 2px solid #0d67b4;
  }
  .footer-container {
    margin-top:40px;
  }
  .social-icon a i {
    color: #0d67b4;
  }
  .copy-right {
    color:#0d67b4;
  }
  
  footer {
    background-color: #FFFFFF; 
    position: relative; 
    z-index: 1;
    padding-bottom: 15px;
  }