{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <h1>Our products</h1>
            </div>
        </div>
    </div> 
{% endblock %}

{% block content %}
<div class="product-overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <!-- Shows the total amount of products on the store--->
                <h3>Showing <span class="bold">{{ products.count }}</span> Products</h3>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                {% for c in current_categories %}
                    <a href="{% url 'products' %}">
                        <button class="button categories-btn">{{ c.user_friendly_name }}</button>
                    </a>
                {% endfor %}
            </div>
        </div>
        <!-- renders all the product cards with information about every product --->
        <div class="row">
            {% for product in products %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img src="{{ MEDIA_URL}}noimage.png" class="card-img-top" alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text card-price">SEK: <span class="price bold">{{ product.price }}</span></p>
                            {% if product.rating %}
                                <p class="card-text"><i class="fa-solid fa-star product-icon"></i> {{ product.rating }} /5</p>
                            {% else %}
                                <p class="card-text">No rating yet</p>
                            {% endif %}
                            {% if product.category %}
                                <p class="card-text cart-text-link">
                                    <a href="{% url 'products' %}?category={{product.category.name}}">
                                        <i class="fa-solid fa-table-list product-icon"></i>{{ product.category.user_friendly_name }}
                                    </a>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}