{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <h1>Our products</h1>
            </div>
        </div>
    </div> 
{% endblock %}

{% block content %}
<div class="product-overlay"></div>
    <div class="container-fluid">
        <div class="row product-count-sorting-wrapper">
            <div class="col">
                <!-- Shows the total amount of products on the store--->
                <h3 class="total-product-count">Showing <span class="bold">{{ products.count }}</span> Products</h3>
                
                <!-- Sorting of products--->
                <div class="sorting-selector-wrapper text-right">
                    <select id="soring-products-selector">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %} >sort by</option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %} >Price lowest to highest</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %} >Price highest to lowest</option>
                        <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %} >Category A-Z</option>
                        <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %} >Category Z-A</option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %} >Name A-Z</option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %} >Name Z-A</option>
                        <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %} >Rating low to high</option>
                        <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %} >Rating high to low</option>                        
                    </select>
                </div>
            </div>
        </div>
        <div class="row category-buttons">
            <div class="col text-center">
                <!-- displays selected categories--->
                {% for c in current_categories %}
                    <a href="{% url 'products' %}?category={{ c.name }}">
                        <button class="button categories-btn">{{ c.user_friendly_name }}</button>
                    </a>
                {% endfor %}
            </div>
        </div>
        <!-- renders all the product cards with information about every product --->
        <div class="row">
            {% for product in products %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        {% if product.image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img src="{{ MEDIA_URL}}noimage.png" class="card-img-top" alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text card-price">€: <span class="price bold">{{ product.price }}</span></p>
                            {% if product.rating %}
                                <p class="card-text"><i class="fa-solid fa-star product-icon"></i> {{ product.rating }} /5</p>
                            {% else %}
                                <p class="card-text">No rating yet</p>
                            {% endif %}
                            {% if product.category %}
                                <p class="card-text cart-text-link">
                                    <a href="{% url 'products' %}?category={{product.category.name}}">
                                        <i class="fa-solid fa-table-list product-icon"></i>{{ product.category.user_friendly_name }}
                                    </a>
                                </p>
                            {% endif %}
                            <!-- add to cart button TODO investigate why it not working to add products from product feed--->
                            <form action="{% url 'add_to_cart' product_id=product.id %}" method="POST" class="add-to-cart-form">
                                {% csrf_token %}
                                {{ form }}
                                <button type="submit" id="decrement-button">-</button>
                                <input id="quantity-shower" type="number" name="quantity" value="0">
                                <button type="submit" id="increment-button"><i class="fa-solid fa-cart-plus"></i></button>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <button id="scrollToTopButton">Go to top</button>
{% endblock %}