{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <h1>dddddddddddd</h1>
            </div>
        </div>
    </div> 
{% endblock %}

{% block content %}
<div class="product-overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <!-- Shows the total amount of products on the store--->
                <h3>{{ products.count }} Products</h3>
            </div>
        </div>
        <div class="row">
  
        </div>
    </div>
{% endblock %}